<%- include('templates/header')-%>
<h1><%= pageTitle %></h1>
<br />

<div>
  <% if (errorMessage) { %>
    <div class="alert alert-danger" role="alert">
      <%= errorMessage %>
    </div>
  <% } %>
  <form method="POST" action="/addnews" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title" class="form-label">Judul</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        placeholder="title"
        value="<% if ( hasError) { %><%= news.title %><% } %>"
      />
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Gambar</label>
      <div class="input-group mb-3">
        <input 
        type="file" 
        accept="image/png, image/jpeg, image/jpg"
        class="form-control" 
        name="image" 
        id="image" />
      </div>
    </div>
    <div class="mb-3">
      <label for="berita" class="form-label">Berita</label>
      <textarea
        class="form-control"
        name="berita"
        id="berita"
        rows="9"
      ><% if (hasError) { %><%= news.berita %><% } %></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Posting Berita</button>
    &nbsp;
    <a href="/" class="btn btn-warning">Cancel </a>
  </form>
</div>

<%- include('templates/footer') -%>
