<%- include('templates/header')-%>
<div class="container">
  <h1><%= pageTitle %></h1>
  <br />

  <div>
    <% if (errorMessage) { %>
      <div class="alert alert-danger" role="alert">
        <%= errorMessage %>
      </div>
    <% } %>
    <form method="POST" action="/editnews/<%=news.id %>" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Judul</label>
        <input
          type="text"
          class="form-control"
          value="<%= news.title %>"
          name="title"
          id="title"
          placeholder="title"
        />
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">Gambar</label>
        <input
          type="file"
          accept="image/png, image/jpeg, image/jpg"
          class="form-control"
          value="/<%=news.image %>"
          name="image"
          id="image"
          placeholder="image"
        />
      </div>
      <div class="mb-3">
        <label for="berita" class="form-label">Berita</label>
        <textarea
          class="form-control"
          value="<%=news.berita %>"
          name="berita"
          id="berita"
          rows="9"
        ><%= news.berita %></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Edit Berita</button>
      &nbsp;
      <a href="/" class="btn btn-warning">Cancel </a>
    </form>
  </div>
</div>

<%- include('templates/footer') -%>
