<%- include('templates/header')-%>
<h1>Berita Portal</h1>
<br />



<div class="row row-cols-1 row-cols-md-3 g-4">
  <%news.forEach(function(item) {%>
  <div class="col">
    <div class="card h-100"> 
      <a href="/detail/<%=item.id%> " >
      <img src="/<%= item.image %>" class="card-img-top" alt="<%=item.title%>">
      </a>
      <div class="card-body">
        <h5  class="card-title"><%=item.title%></h5>
        <p class="card-text"><%=item.berita%></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Terakhir di update pada <%= item.createdAt.toString().substring(0, 24) %></small>
      </div>
      <a href="/detail/<%=item.id%> " class="btn btn-info">Baca Selengkapnya</a>
    </div>
  </div>
  <%} );%>
</div>
&nbsp;
&nbsp;
<div>
  <a href="/addnews" class="btn btn-primary">Add News </a>
</div>


<%- include('templates/footer') -%>
