
<%- include('templates/header')-%>
<h1>Berita Detail</h1>
<br>

<div class="grid text-center">
  <div class="card mb-3" >
    <div class="card-body">
      <h5 class="card-title"><%=news.title%></h5>
      <div >
        <img class="img-fluid " src="/<%= news.image %>" alt="<%=news.title %>" >

      </div>
      <p class="bg-white"><%=news.berita%></p>
      <p class="card-text"><small class="text-muted">Terakhir update pada <%= news.createdAt.toString().substring(0, 24) %></small></p>
    </div>
  </div>
</div>
 

<div>
  <a href="/" class="btn btn-primary">Back</a>
  &nbsp;
  <a href="/editnews/<%=news.id %>"" class="btn btn-secondary">Edit</a>
  &nbsp;
  <a href="/delete/<%=news.id %>" class="btn btn-danger">Delete</a>

</div>

<%- include('templates/footer') -%>

