<%- include('templates/header')-%>
<h1>Berita Portal</h1>
<br />

<div>
  <div class="grid text-center">
    <%news.forEach(function(item) {%>

    <div class="card mb-3" style="width: 24rem;">
      <div class="card-body" style="max-height:350px; overflow:hidden;">
        <h5 class="card-title"><%=item.title%></h5>
        <img
          src="/<%= item.image %>"
          class="card-img-top"
          alt="<%=item.title%>"
        />
        <p class="card-text"><%=item.berita%></p>
        <p class="card-text">
          <small class="text-muted">Terakhir di update pada <%= item.createdAt.toString().substring(0, 24) %></small>
        </p>
      </div>
      &nbsp;
      <a href="/detail/<%=item.id%> " class="btn btn-info">Detail</a>
    </div>

    <%} );%>
  </div>
  <a href="/addnews" class="btn btn-primary">Add News </a>
</div>

<%- include('templates/footer') -%>
